        <extend name="./Public/home/home.html" />
	<block name="title"><title><?php echo $title;?></title></block>
<block name="banner">
        <section id="banner-section">
            <div class="row">
                <div class="twelve columns">
                    <h2 class="white">
    			<block name="title">{$title}</block>
		    </h2>		
                    <p class="blue biggest text-center"></p>
                </div>
            </div>
        </section>
</block>
<block name="content">
<section id="blog-article">

    <!-- SubNav Bar
    ================================================== -->
    <div id="filter-bar" class="grey-blue-bg">
        <div class="row">
            <div class="twelve columns">
<!--                <div class="right">
                    <ul class="link-list">
                        <li><a href="https://twitter.com/ttackPattern"><span aria-hidden="true" class="icon icon-twitter"></span></a></li>
                        <li><a href="https://www.facebook.com/AttackPattern"><span aria-hidden="true" class="icon icon-facebook"></span></a></li>
                    </ul>
                </div>-->
                <div class="left">
                    <ul class="link-list">
			<?php if(!empty($LastPage)){ ?>
                        <li>
                            <a href="<?php echo $detailUrl.'/id/'.$LastPage["p_id"];?>" rel="prev">
                                <span aria-hidden="true" class="icon icon-angle-left"></span>
                            </a>
                        </li>
			<?php }  ?>
			<?php if(!empty($NextPage)){ ?>
                        <li>
                            <a rel="next" href="<?php echo $detailUrl.'/id/'.$NextPage["p_id"];?>">
                                 <span aria-hidden="true" class="icon icon-angle-right" ></span>
                            </a>
                        </li>
			<?php }  ?>
                        <li>
                            <a href="{$ListUrl}">
                                <span aria-hidden="true" class="icon icon-grid"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Post
    ================================================== -->
    <div class="row ">
        <div class="eight columns centered">
            <article class="post-203 post type-post status-publish format-standard hentry category-all tag-elasticsearch tag-linq" id="post-203">
                <!--<div class="metas">
                    <p class="text-center">
                        <a href="#" rel="author" class="fn">1.0.2.4工作室</a>
                        <span aria-hidden="true" class="icon icon-atom"></span>
                        <time class="updated date blue">2014.3.20</time>
                    </p>
                </div>-->
                <h1 class="entry-title text-center">{$page["p_title"]}</h1>
                <div class="metas">
                    <p class="text-center">
                        <a href="#" rel="author" class="fn">{$page["p_author"]}</a>
                        <span aria-hidden="true" class="icon icon-atom"></span>
                        <time class="updated date blue">上传于<?php echo date("Y-m-d",strtotime($page["p_date"]));?></time>
                    </p>
                </div>
                <div class="single-content">
			{$page["p_content"]}
                    <br class="clear">
                </div>
                <!---->
               </article>
        </div>
    </div>
</section>
</block>
<block name="friend">
	<foreach name="Friends" item="friend">
		<li><a href="{$friend.f_url}">{$friend.f_name}</a></li>
	</foreach>
</block>
