        <extend name="./Public/home/home.html" />
	<block name="title"><title><?php echo $title;?></title></block>
<block name="nav">
        <li><a href="{$IndexUrl}">首页</a></li>
        <li><a href="{$CaseUrl}">网站案例</a></li>
        <li><a href="{$PageUrl}">新闻动态</a></li>
        <li class=""><a href="{$ContactUrl}">联系我们</a></li>
        <li><a href="{$BlogUrl}">博客</a></li>
</block>
<block name="banner">
        <section id="banner-section">
            <div class="row">
                <div class="twelve columns">
                    <h2 class="white">
			{$title}
		    </h2>		
                    <p class="blue biggest text-center"></p>
                </div>
            </div>
        </section>
</block>
<block name="content">
	<!-- Filter Bar
        ================================================== -->
        <section id="filter-bar">
            <div class="row">
                <!--<div class="right">
                    <ul class="link-list">
                        <li><a href="https://twitter.com/ttackPattern"><span aria-hidden="true" class="icon icon-twitter"></span></a></li>
                        <li><a href="https://www.facebook.com/AttackPattern"><span aria-hidden="true" class="icon icon-facebook"></span></a></li>
                        <li><a href="https://github.com/AttackPattern"><span aria-hidden="true" class="icon icon-github"></span></a></li>
                    </ul>
                </div>-->

                <div class="left ddwrap">
                    <span>文章分类</span>
                    <ul class="dd">
                        <li class="filter" data-filter="all">
                            全部文章
                        </li>
		<?php foreach($pageclass as $value){ ?>
                        <li class="filter active" data-filter="<?php echo $value["pc_id"];?>">
                            <?php echo $value["pc_title"];?>
                        </li>
		<?php } ?>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Blog Posts
        ================================================== -->
        <section id="blog-posts">
            <div class="row">
                <ul id="Grid" class="block-grid four-up">
		<?php foreach($page as $value){ ?>
                    <li class="mix all <?php echo $value["pc_id"];?> mix_all">
                        <article id="post-203" class="box" style="min-height:22em">
                            <a href="<?php echo $detailUrl.'/id/'.$value["p_id"];?>" class="divlink invert">
                            	<div style="height:10px">
                            	</div>
                            </a>
                            <div class="box-inner invert">
                                <h4><?php echo $value["p_title"];?></h4>
                                <p class="meta date"><?php echo date("Y-m-d",strtotime($value["p_date"]));?></p>
                                <p>
					<?php
						 
						echo mb_substr(strip_tags($value["p_content"]), 0 , 200, 'UTF-8')."..."; 
	
					?>
				</p>
                            </div>
                        </article>
                    </li>
		<?php } ?>
                </ul>
            </div>
        </section>
</block>
<block name="contact_email">{$Contact["con_email"]}</block>
<block name="contact_phone">{$Contact["con_phone"]}</block>
<block name="contact_us">     
	<a class="" href="{$ContactUrl}">
       		<span class="blue">联系我们</span>
        </a>
</block>
<block name="friend">
	<foreach name="Friends" item="friend">
		<li><a href="{$friend.f_url}">{$friend.f_name}</a></li>
	</foreach>
</block>
