        <extend name="./Public/home/home.html" />
	<block name="title"><title><?php echo $title;?></title></block>
<block name="nav">
        <li><a href="{$IndexUrl}">首页</a></li>
        <li><a href="{$CaseUrl}">网站案例</a></li>
        <li><a href="{$PageUrl}">新闻动态</a></li>
        <li class="{$ContactUrl}"><a href="">联系我们</a></li>
        <li><a href="{$BlogUrl}">博客</a></li>
</block>
<block name="banner">
        <section id="banner-section">
            <div class="row">
                <div class="twelve columns">
                    <h2 class="white">
			{$title}
		    </h2>		
                    <p class="blue biggest text-center"></p>
                </div>
            </div>
        </section>
</block>
<block name="content">
	敬请期待
</block>
<block name="contact_email">{$Contact["con_email"]}</block>
<block name="contact_phone">{$Contact["con_phone"]}</block>
<block name="contact_us">     
	<a class="" href="{$ContactUrl}">
       		<span class="blue">联系我们</span>
        </a>
</block>
<block name="friend">
	<foreach name="Friends" item="friend">
		<li><a href="{$friend.f_url}">{$friend.f_name}</a></li>
	</foreach>
</block>
