<script type="text/javascript">
$(function() {
	var editor = KindEditor.create('textarea[name="p_content"]',{
		afterBlur: function () { this.sync(); }
	});
});
KindEditor.ready(function(K){
	window.editor = K.create('#editor_id');
});

</script>
<div class="content-box">
    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3 style="cursor: s-resize;">文章管理</h3>
        <div class="clear">
        </div>
    </div>
    <!-- End .content-box-header -->
    <div class="content-box-content">
        <div class="tab-content default-tab">
            <form method="post" action="{$PageSaveUrl}" onsubmit="return form_post(this)" >	
                <fieldset>
                    <input type="hidden" name="p_id" value="{$PageInfo.p_id}" />
                    <p>
                        <label>标题</label>
                        <input class="text-input small-input" value="{$PageInfo.p_title}" type="text" name="p_title" >
                    </p>
                    <p>
                        <label>作者</label>
                        <input class="text-input small-input" value="{$PageInfo.p_author}" type="text" name="p_author" >
                    </p>
                    <p>
                        <label>所属分类</label>
			<select name="pc_id" class="small-input" value="{$PageInfo.pc_id}" >
                    	<foreach name="PageClassLists" item="PageClassList">
				<option value="{$PageClassList.pc_id}"  <?php if($PageInfo["pc_id"]==$PageClassList["pc_id"]){echo "selected";}?>>{$PageClassList.pc_title}</option>
                    	</foreach>
			</select>
                    </p>
                    <p>
			<textarea id="editor_id" name="p_content" style="width:700px;height:300px;">{$PageInfo.p_content}</textarea>
                    </p>
                    <p>
                        <input class="button" type="submit" value="Submit">
                    </p>
                </fieldset>
                <div class="clear">
                </div>
            </form>
        </div>
    </div>
</div>
