<!DOCTYPE html>
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html><!--<![endif]--><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- Title and Meta
================================================== -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>1.0.2.4工作室</title>
<meta name="description" content="Attack Pattern helps amazing brands design and develop awesome Windows 8, iOS and Android apps">
<meta name="keywords" content="attack pattern, attackpattern, Windows 8 app development, iOS app development">


<!-- Facebook Open Graph Meta
================================================== -->
<!--<meta property="og:title" content="Attack Pattern">
<meta property="og:url" content="http://attackpattern.com/">
<meta property="og:site_name" content="Attack Pattern">
<meta property="og:description" content="Attack Pattern helps amazing brands design and develop awesome Windows 8, iOS and Android apps">
<meta property="og:image" content="http://attackpattern.com/images/attackpattern-screen.jpg">-->

<!-- Mobile
================================================== -->

<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">

<!-- Fav and icons
================================================== -->
<!--<link rel="shortcut icon" type="image/ico" href="http://attackpattern.com/images/favicon.ico">
<link rel="alternate" type="application/rss+xml" title="Attack Pattern Feed" href="http://attackpattern.com/feed/">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://attackpattern.com/images/apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://attackpattern.com/images/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://attackpattern.com/images/favicons/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="http://attackpattern.com/images/apple-touch-icon-precomposed.png">-->

<!-- CSS & Js
================================================== -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/page.css">
<link rel="stylesheet" href="css/fonts.css">
<script src="js/analytics.js" async=""></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/modernizr.js"></script>
<!--<link rel="canonical" href="http://attackpattern.com/">-->
<script>

    //Fade in page
    $('html').addClass('fade-in');

    //Dump the fade-in class - prevent weird webkit stuff
    setTimeout(function(){ $("html").removeClass("fade-in"); },2100);

    //Scroll to anchor on new page load (for Work) Link
    $(document).ready(function() {
        if (window.location.hash) {
            setTimeout(function() {
                $('html, body').scrollTop(0).show();
                $('html, body').animate({
                    scrollTop: $(window.location.hash).offset().top-350
                }, 500, 'easeInOutQuad')
            }, 9);
        }

    });
</script>
<!--<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-26180353-2', 'attackpattern.com');
    ga('send', 'pageview');
</script>-->

<body id="top" class="home page page-template page-template-homepage-php">

<!-- Mobile Nav Drawer
================================================== -->

<div class="mobilenav mobilenav-right">
    <ul>
        <li><a href="index.html">首页</a></li>
        <li><a href="#">网站案例</a></li>
        <li><a href="#">新闻动态</a></li>
        <li class=""><a href="#">联系我们</a></li>
        <li><a href="blog.html">博客</a></li>
    </ul>
</div>
<!-- Site Overlay: Click anywhere to close-->
<div class="site-overlay"></div>

<!-- Slides entire page over for mobile nav drawer -->
<div id="content-slide">

<div class="menu-btn"><span aria-hidden="true" class="icon-menu"></span></div>

<header id="masthead">
    <div class="" id="header-bar">
        <div class="row">
            <h1 id="logo" class="">
                <a href="#">
                    <img src="images/logo-attackpattern.png" alt="">
                </a>
            </h1>
            <nav role="navigation">
                <ul class="link-list">
                    <li class="transition current_page_item">
                        <a href="index.html">首页</a>
                    </li>
                    <li class="transition">
                        <a href="#">网站案例</a>
                    </li>
                    <li>
                        <a href="#">新闻动态</a>
                    </li>
                    <li class="transition">
                        <a href="#">联系我们</a>
                    </li>
                    <li class="transition">
                        <a href="blog.html">博客</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Hero Section
    ================================================== -->
    <section id="hero-section">
        <div class="row">
            <div class="twelve columns">
                <div id="intro">
                    <h3 class="blue">我们是1.0.2.4</h3>
                    <h2 class="">世界是我想象，一切从改变开始...</h2>
                    <div class="fademe fade-up">
                        <a class="btn btn-large btn-outline has-icon" href="#services-section">了解更多
                            <span aria-hidden="true" class="btn-icon icon-eye "></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<div id="page-content">
<!-- Title Section
================================================== -->
<section id="title-section" class="js-sect1 fade-up">
    <div class="row">
        <div class="ten columns centering centered">
            <h3 class="blue">1.0.2.4&nbsp;工作室</h3>
            <p class="">我们能帮到你什么？专业、漂亮、有趣的网站？</p>
        </div>
    </div>
</section>

<!-- Services Section
================================================== -->

<section id="services-section" class="centering js-sect2 fade-up">
    <div class="row">
        <div class="four columns">
            <img class="img-1" src="images/icon-big-appdesign-2.png" alt="">
            <h3>网站解决方案</h3>
            <p>用案例见证实力，采用最新技术和最前沿的设计理念</p>
        </div>

        <div class="four columns">
            <img class="img-2" src="images/icon-big-softwaredev-2.png" alt="">
            <h3>案例分析</h3>
            <p>多选功能模块，量身定做，采用最新技术和最前沿的设计理念</p>
        </div>

        <div class="four columns">
            <img class="img-3" src="images/icon-big-consult-2.png" alt="">
            <h3>设计理念</h3>
            <p>个性网站四部曲，满足您不同需求，采用最前沿的设计理念</p>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <a class="btn btn-large btn-blue has-icon" href="#">
                查看详情
                <span aria-hidden="true" class="btn-icon icon-rocket "></span>
            </a>
        </div>
    </div>
</section>

<!-- Folio Section
================================================== -->
<section id="folio-section-title" class="white-bg js-sect3 fade-up">
    <div class="row">
        <div class="twelve columns section-title">
            <h3>案例
                <span aria-hidden="true" class="icon-amp blue margin-10 " ></span>
                展示</h3>
            <hr class="sep">
            <p>多选功能模块，量身定做，采用最新技术和最前沿的设计理念</p>
        </div>
    </div>
</section>

<section id="folio-section" class="white-bg js-sect3 fade-up">
    <div class="row">
        <div class="twelve columns">
            <div class="row-inside nopadding">
                <ul class="block-grid three-up folio-items">
                    <li class="folio-item">
                        <a href="#" class="folio-img">
                            <img class="hover" src="images/foliopreview-ted.jpg" alt="">
                            <div class="hover-over">
                                <p>网站1
                                    <br>
                                    <span class="hover-over-sub">最前沿的设计理念</span>
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="folio-item">
                        <a href="#" class="folio-img">
                            <img class="hover" src="images/foliopreview-bluetooth.jpg" alt="">
                            <div class="hover-over">
                                <p>网站2
                                    <br>
                                    <span class="hover-over-sub">最前沿的设计理念</span>
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="folio-item">
                        <a href="#" class="folio-img">
                            <img class="hover" src="images/foliopreview-westerndigital.jpg" alt="">
                            <div class="hover-over">
                                <p>网站3
                                    <br>
                                    <span class="hover-over-sub">最前沿的设计理念</span>
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Blog Section
================================================== -->
<section id="blog-section-title" class="js-sect5">
    <div class="row">
        <div class="twelve columns section-title">
            <h3>逛会博客</h3>
            <hr class="sep">
        </div>
    </div>
</section>

<section id="blog-section" class="js-sect5">
    <div class="row half-padding">
        <div class="row-inside">

            <div class="four columns">
                <article class="box">
                    <a rel="external" class="divlink invert" href="#">
                        <img src="images/blogimg-fanfinity-850x550.jpg">
                        <div class="box-inner">
                            <h4>企业开展搜索营销</h4>
                            <p class="meta date">2014.3.18</p>
                            <p class="excerpt">个性网站四部曲，满足您不同需求，采用最前沿的设计理念</p>
                        </div>
                    </a>
                </article>
            </div>

            <div class="four columns">
                <article class="box">
                    <a rel="external" class="divlink invert" href="#">
                        <img src="images/blogimg-win8-850x550.jpg">
                        <div class="box-inner">
                            <h4>“果中皇后”你值得一尝</h4>
                            <p class="meta date">2014.3.18</p>
                            <p class="excerpt">
                                广州弃婴安全岛就因措手不及的“婴满为患”而暂时叫停了试点工作。措手不及的“窘境”同样出现在南京等其他经济发达城市。
                                大城市成为“弃婴洼地”的同时，也凸显出小小安全岛承载弃婴大难题的尴尬
                            </p>
                        </div>
                    </a>
                </article>
            </div>

            <div class="four columns">
                <article class="box">
                    <a rel="external" class="divlink invert" href="#">
                        <img src="images/blogimg-csharp-850x550.jpg">
                        <div class="box-inner">
                            <h4>发现一个很红的搭配微博，推荐爱美的MM关注</h4>
                            <p class="meta date">2013.10.1</p>
                            <p class="excerpt">
                                19种photoshop不得不学的实用技术，假期给自己冲冲电吧！！@实用生活小贴士（转）</p>
                        </div>
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>

<!-- Quote Section
================================================== -->
<!-- <section id="quote-section" class="quotes-bg">
  </section> -->

<footer id="footer">
    <div class="row">
        <div class="seven columns">
            <h4>1.0.2.4工作室</h4>

            <div class="f-block">
                <p>
                    <span aria-hidden="true" class="icon icon-mail-3"></span>
                    <a href="#" target="_blank">
                        guoxiaoting_8@sina.com
                    </a>
                    <br>
                    <span aria-hidden="true" class="icon icon-phone"></span>
                         13758141861
                </p>

                <br>
                <p><span aria-hidden="true" class="icon icon-right-chev"></span>
                    <a class="" href="#">
                        <span class="blue">联系我们</span>
                    </a>
                </p>
            </div>
        </div>

        <div class="five columns">
            <h4>友情链接</h4>
            <!--<p>Connect via our social networks</p>-->
            <ul class="link-list social-list">
                <li><a href="#">Amy的博客</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Github</a></li>
            </ul>
        </div>
    </div>

    <div id="copyright">
        <div class="row">
            <div class="twelve columns">
                <hr>
                <p class="text-center">Copyright © 1.0.2.4工作室 2014<br>
                </p></div>
        </div>
    </div>
</footer>

<!-- Scroll To Top -->
<a style="display: none;" class="scroll_to_top" href="#">
    <span aria-hidden="true" class="icon-double-angle-up"><br></span>
</a>

<!-- Le javascript
================================================== -->
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>

</div> <!-- /page-content-->
<!-- closes the page-slide div required for offcanvas menu-->

</body></html>
<!-- Dynamic page generated in 0.160 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2014-03-11 12:09:03 -->
<!-- Compression = gzip -->
