<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Simpla Admin | Sign In</title>
<link rel="stylesheet" href="/Public/resources/css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/Public/resources/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/Public/resources/css/invalid.css" type="text/css" media="screen" />	
<script type="text/javascript" src="/Public/resources/scripts/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/Public/resources/scripts/simpla.jquery.configuration.js"></script>
<script type="text/javascript" src="/Public/resources/scripts/facebox.js"></script>
<script type="text/javascript" src="/Public/resources/scripts/jquery.wysiwyg.js"></script>
<script type="text/javascript">
function form_post(form, url){
	var $form = $(form);
	var _submit = function(){$.ajax({
		type: 'POST',
		url: $form.attr("action"),
		data:$form.serialize(),
		success: Message,
		dataType:"json",
		cache:false, 
	})};
	_submit();
	return false;
}
function Message(json){
	var url = "{$AdminUrl}";
	$("#message").html(json["message"]);	
	if(json["login"]){
		location = url;
	}
}
</script>
</head>
  
	<body id="login">
		
		<div id="login-wrapper" class="png_bg">
			<div id="login-top">
			
				<h1>Simpla Admin</h1>
				<!-- Logo (221px width) -->
				<img id="logo" src="/Public/resources/images/logo.png" alt="Simpla Admin logo" />
			</div> <!-- End #logn-top -->
			
			<div id="login-content">
				
				<form action="{$LoginCheck}" method="post" onsubmit="return form_post(this)">
				
					<div class="notification information png_bg">
						<div id="message">
							{$Message}	
						</div>
					</div>
					
					<p>
						<label>Username</label>
						<input class="text-input" type="text" name="u_name" />
					</p>
					<div class="clear"></div>
					<p>
						<label>Password</label>
						<input class="text-input" type="password" name="u_password"/>
					</p>
					<div class="clear"></div>
					<p id="remember-password">
						<input type="checkbox" name="remember" value="1"/>Remember me
					</p>
					<div class="clear"></div>
					<p>
						<input class="button" type="submit" value="Sign In" />
					</p>
					
				</form>
			</div> <!-- End #login-content -->
			
		</div> <!-- End #login-wrapper -->
  </body>
</html>
